.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Drawing-table {
  border-spacing: 0px;
  border-collapse: collapse;
  margin: 0 auto;
}

.Drawing-table > tbody > tr > td{
  width: 15px;
  height: 15px;
  border: 1px solid black;
  margin: 0px;
}